@namespace TriPower
@inherits TriComponentBase

<PageTitle>@Title | TriPower </PageTitle>

<TriContainer Class="@Class" >
    <TriStack Gap="TriGap.Small">
        <TriStack Row Justify="TriJustify.SpaceBetween" Align="TriAlign.End" Wrap="TriWrap.Wrap">
            <TriStack Row Align="TriAlign.Center" Wrap="TriWrap.NoWrap">
                @if(BackLink?.IsNotEmptyOrWhiteSpace is true)
                {
                    <MudIconButton
                        Icon="@Icons.Material.Filled.ChevronLeft" Color="Color.Primary" Variant="Variant.Text"
                        Href="@BackLink" ButtonType="ButtonType.Button"/>
                }
                <MudText Typo="Typo.h4">@Title</MudText>
            </TriStack>
            <div>
                @CommandBar
            </div>
        </TriStack>
        <MudDivider/>
    </TriStack>
    
    <TriStack Class="tw:!py-6">
        @Body
    </TriStack>

</TriContainer>
