@page "/"
@layout AnonymousLayout
@attribute [AllowAnonymous]

<PageTitle>Home</PageTitle>

<RedirectToAuthenticatedArea/>

<TriContainer>

    <h1>Hello, world!</h1>

    Welcome to your new app.
    
</TriContainer>
