@page "/account/login"

<TriPage Title="Sign In">
    <Body>
    <TriEditForm FormName="account-login" Model="Request" Validator="Validator" OnValidSubmit="HandleValidSubmitAsync">
        
        <TriSection Label="Suas informações">
            
            <Content>
                <TriGrid ColsMd="2" ColsLg="2" ColsXl="3">
                    <TriTextField @bind-Value="Request.Email" Label="E-mail" />
                    <TriTextField @bind-Value="Request.Password" Label="Password" InputType="InputType.Password" />
                </TriGrid>
            </Content>
            
        </TriSection>
        
        <TriSection Label="Validações">
            <Content>
                <ValidationSummary/>
            </Content>
        </TriSection>
        
        <TriCommandBar BackLink="/">
            
            <MudButton 
                Variant="Variant.Filled" Color="Color.Primary" ButtonType="ButtonType.Submit"
                StartIcon="@Icons.Material.Filled.Save">
                Login
            </MudButton>
            
        </TriCommandBar>
        
    </TriEditForm>
    
    </Body>
</TriPage>