@page "/account/register"

<TriPage Title="Sign Up">
    <Body>
    
    <TriEditForm Model="_request" Validator="_validator" >
        
        <TriSection Label="Suas informações">
            
            <Content>
                <TriTextField @bind-Value="_request.FirstName" Label="Nome" />
                <TriTextField @bind-Value="_request.LastName" Label="Sobrenome" />
            </Content>
            
        </TriSection>
        
        <TriSection Label="Usuário">
            
            <Content>
                <TriTextField @bind-Value="_request.Email" Label="E-mail" />
                <TriTextField @bind-Value="_request.Password" Label="Senha" InputType="InputType.Password" />
                <TriTextField @bind-Value="_request.ConfirmPassword" Label="Confirmação de Senha" InputType="InputType.Password" />
            </Content>
            
        </TriSection>
        
        
        <TriCommandBar BackLink="/">
            
            <MudButton 
                Variant="Variant.Filled" Color="Color.Primary" ButtonType="ButtonType.Submit"
                StartIcon="@Icons.Material.Filled.Save">
                Gravar
            </MudButton>
            
        </TriCommandBar>
        
    </TriEditForm>
    
    </Body>
</TriPage>